// bower:scss
// endbower

/* Main */
body {
    background: #fff url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid@2x.jpg) repeat left top;
    background-size: 18px 18px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
}

header {
    width: 100%;
    padding: 30px 20px 20px 20px;
    position: fixed;
    top: 0;
    z-index: 5;
    line-height: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.5);
    border-bottom: 1px solid #adadad;
    display: block;
}

.uber-logo {
    display: inline-block;
    width: 167px;
    height: 23px;
    background: transparent url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/global/logo-web-light@1x.png) no-repeat left top;
    background-size: 167px 23px;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.logo-doku {
    display: inline-block;
    font-size: 20px;
    letter-spacing: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

.game-options {
    margin-right: 30px;
    margin-top: 10px; 
}

.game-options a {
    padding: 5px 12px;
    text-decoration: none;
    color: white;
}

.new-game {
    text-align: right;
    border: 2px solid #1fbad6;
    background-color: #070716;
}

#main {
    margin: 110px auto;
    text-align: center;
    width: 300px;
    height: 300px;
    border-radius: 1px;
    box-shadow: 0 0 0 5px black, 0 0 0 10px #1fbad6;
}

.row { 
    width: 100%;
    height: 11%;
}

.row:nth-child(3) {
    border-bottom: black 1px solid;
}

.row:nth-child(6) {
    border-bottom: black 1px solid;
}

.number-element {
    border: none;
    height: 31px;
    width: 31px;
    text-align: center;
    cursor: pointer;
}

.number-element:nth-child(3) {
    border-right: black 1px solid;
}

.number-element:nth-child(6) {
    border-right: black 1px solid;
}

.invalid {
    color: red;
    font-weight: bold;
}

/* Helpers */
.center {
    text-align: center;
}

.pull-right {
    float:right;
}

.pull-left {
    float:left;
}

/* Old browser */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

